// Import
// -------------------------------------------------
@import "../_mixins";
@import "../_variables";


// Component
// -------------------------------------------------
.keditor-component {
    position: relative;
    z-index: 1;
    transition: padding-bottom @animation-duration;
    
    .keditor-toolbar {
        top: 0;
        left: 0;
        background-color: @container-content-toolbar-bg;
        border-bottom-right-radius: @border-radius;
        
        > a {
            color: @container-content-toolbar-button-color;
            float: left;
            
            &:hover {
                background-color: @container-content-toolbar-button-bg-hover;
            }
        }
    }
    
    .keditor-toolbar-bottom-component {
        right: 0;
        top: auto;
        bottom: unit(-@toolbar-item-size - 1, px);
        border-radius: 0;
        background: none;
        text-align: center;
        
        > a {
            display: inline-block;
            float: none;
            background-color: @container-content-toolbar-bg;
            border-radius: 0 0 @border-radius @border-radius;
            width: unit(@toolbar-item-size * 2, px);;
    
            &:hover {
                background-color: @container-content-toolbar-button-bg-hover;
            }
        }
    }
    
    .keditor-component-content {
        position: relative;
        z-index: 2;
        
        &:before {
            position: absolute;
            top: -@component-outline-with;
            right: -@component-outline-with;
            left: -@component-outline-with;
            bottom: -@component-outline-with;
            content: " ";
            border: @component-outline-with solid @container-content-toolbar-outline-color;
            display: none;
            z-index: -1;
        }
    }
    
    &:hover,
    &.showed-keditor-toolbar {
        z-index: 2;
        
        .keditor-component-content {
            &:before {
                display: block;
            }
        }
        
        .keditor-toolbar {
            display: block;
        }
    }
    
    &.showed-keditor-toolbar {
        .keditor-component-content {
            outline: none !important;
        }
    }
}
