// Import
// -------------------------------------------------
@import "../_mixins";
@import "../_variables";


// Component
// -------------------------------------------------
.keditor-component {
    position: relative;
    z-index: 1;
    transition: padding-bottom @animation-duration;
    
    .keditor-toolbar {
        top: 0;
        left: 0;
        background-color: @component-toolbar-bg;
        border-bottom-right-radius: @border-radius;
        
        > a {
            color: @component-toolbar-button-color;
            float: left;
            
            &:hover {
                background-color: @component-toolbar-button-bg-hover;
            }
        }
    }
    
    .keditor-toolbar-bottom-component {
        bottom: unit(-@toolbar-item-size - 1, px);
    }
    
    .keditor-component-content {
        position: relative;
        z-index: 2;
        
        &:before {
            position: absolute;
            top: -@component-outline-with;
            right: -@component-outline-with;
            left: -@component-outline-with;
            bottom: -@component-outline-with;
            content: " ";
            border: @component-outline-with solid transparent;
            z-index: -1;
        }
    }
    
    
    &:hover {
        .keditor-component-content {
            &:before {
                border-color: @component-outline-color-hover;
            }
        }
    }
    
    &.showed-keditor-toolbar {
        .keditor-component-content {
            &:before {
                border-color: @component-outline-color-selected;
            }
        }
    }
    
    &:hover,
    &.showed-keditor-toolbar {
        z-index: 2;
        
        .keditor-component-content {
            &:before {
                display: block;
            }
        }
        
        .keditor-toolbar {
            display: block;
        }
    }
    
    &.showed-keditor-toolbar {
        .keditor-component-content {
            outline: none !important;
        }
    }
}
