// Import
// -------------------------------------------------
@import "_mixins";
@import "_variables";

// Body
// -------------------------------------------------
body {
    margin: 0;
    
    &.opened-keditor-sidebar {
        .keditor-content-area {
            margin-right: 260px;
        }
        
        .keditor-sidebar {
            right: 0;
        }
    }
    
    &.opened-modal {
        overflow: hidden;
    }
    
    &.previewing {
        .keditor-content-areas-wrapper {
            display: none;
        }
        
        .keditor-preview-area {
            display: block;
        }
    }
}

// Keditor UI
// -------------------------------------------------
.keditor-ui {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

// Wrapper
// -------------------------------------------------
.keditor-wrapper {
    height: 100%;
    padding-top: @topbar-height;
    background: @wrapper-bg url(@wrapper-bg-image) repeat;
    position: relative;
    overflow: hidden;
    
    &.small {
        background-image: url(@wrapper-bg-image2);
    }
}

// Iframe
// -------------------------------------------------
.keditor-iframe-wrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    box-shadow: @iframe-wrapper-shadow;
}

.keditor-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


// Topbar
// -------------------------------------------------
.keditor-topbar {
    .clearfix();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: @topbar-bg;
}

.keditor-topbar-title {
    color: @topbar-title-color;
    line-height: @topbar-height;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
}

.keditor-topbar-left,
.keditor-topbar-center,
.keditor-topbar-right {
    float: left;
    height: @topbar-height;
    word-spacing: -1em;
    
    > * {
        word-spacing: normal;
        display: inline-block;
    }
}

.keditor-topbar-left,
.keditor-topbar-right {
    width: 33%;
}

.keditor-topbar-right {
    text-align: right;
}

.keditor-topbar-center {
    width: 34%;
    text-align: center;
}

.keditor-topbar-btn {
    height: @topbar-height;
    line-height: @topbar-height;
    color: @topbar-btn-color !important;
    text-decoration: none;
    width: @topbar-height;
    text-align: center;
    
    &:hover,
    &.active {
        background: @topbar-btn-hover;
    }
    
    i {
        font-size: @topbar-btn-icon-size;
    }
}


// Sidebar
// -------------------------------------------------
.keditor-sidebar {
    position: absolute;
    top: @topbar-height;
    bottom: 0;
    right: -@sidebar-width;
    width: @sidebar-width;
    background: @sidebar-bg;
    border-left: 1px solid @border-color;
    box-shadow: -1px 0 5px @sidebar-shadow-color;
    transition: all @animation-duration;
    opacity: 0;
    
    &.opened {
        right: 0;
        opacity: 1;
    }
    
    .keditor-iframe-wrapper & {
        position: absolute;
    }
}

.keditor-sidebar-header {
    border-bottom: 1px solid @border-color;
    padding: 10px 30px 10px 15px;
    position: relative;
}

.keditor-sidebar-closer {
    text-decoration: none !important;
    color: @closer-color;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 5px;
    width: @sidebar-close-size;
    height: @sidebar-close-size;
    line-height: unit(@sidebar-close-size - 1, px);
    font-size: 19px;
    font-weight: bold;
    
    &:hover {
        color: @closer-hover-color;
    }
}

.keditor-sidebar-title {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.keditor-sidebar-body {
    .keditor-scrollbar();
    height: ~"calc(100% - 41px)";
    overflow-x: hidden;
    overflow-y: auto;
    padding: @sidebar-body-padding;
    
    .keditor-setting-form {
        .clearfix();
        overflow: hidden;
        display: none;
        min-height: 100%;
        
        &.active {
            display: block;
        }
    }
}


// Preview area
// -------------------------------------------------
.keditor-preview-area {
    display: none;
}


// Content area
// -------------------------------------------------
.keditor-content-area {
    min-height: 100px;
    width: auto;
    margin: 0;
    padding: 30px 50px;
    position: relative;
}


// Snippets
// -------------------------------------------------
.keditor-snippets-wrapper {
    height: 100%;
    
    .keditor-snippets {
        .keditor-scrollbar();
        height: 100%;
        overflow-y: scroll;
        padding: @snippet-container-padding;
        display: flex;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-flow: wrap;
    }
}

.keditor-snippet {
    border: 1px solid @snippet-border-color;
    cursor: pointer;
    transition: all @animation-duration;
    display: block;
    background: @snippet-bg;
    user-select: none;
    width: @snippet-width;
    margin: @snippet-margin;
    flex: none;
    
    .keditor-snippet-inner {
        display: block;
        padding-bottom: 100%;
        position: relative;
    }
    
    .keditor-snippet-preview {
        position: absolute;
        top: 15px;
        left: 15px;
        bottom: @snippet-title-height;
        right: 15px;
        background: no-repeat 50% 50% / contain;
    }
    
    .keditor-snippet-title {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: @snippet-title-size;
        height: @snippet-title-height;
        line-height: @snippet-title-height;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 0 10px;
        white-space: nowrap;
    }
    
    .keditor-snippet-add {
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        display: none;
    }
    
    &.not-matched {
        display: none !important;
    }
    
    &.selected {
        border-color: @snippet-border-color-selected;
        box-shadow: @snippet-box-shadow-selected;
        
        .keditor-snippet-title {
            display: none;
        }
        
        .keditor-snippet-add {
            display: block;
        }
    }
    
    @media (max-width: 420px) {
        width: ~"calc(100% - 15px)";
    }
}


// Modal
// -------------------------------------------------
.keditor-modal {
    display: none;
    position: fixed;
    z-index: @modal-zindex;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: @modal-bg;
    transition: all @animation-duration;
    opacity: 0;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    &.showed {
        top: 0;
        opacity: 1;
    }
    
    .keditor-snippet {
        display: none;
    }
    
    &.keditor-modal-component {
        .keditor-snippet-component {
            display: block;
        }
        
        .keditor-snippets-filter-component {
            display: block;
        }
    }
    
    &.keditor-modal-container {
        .keditor-snippet-container {
            display: block;
        }
        
        .keditor-snippets-filter-container {
            display: block;
        }
    }
    
    &.keditor-modal-component.keditor-modal-container {
        .keditor-snippets-filter-container.duplicated {
            display: none;
        }
    }
    
}

.keditor-modal-header {
    .clearfix();
    background: @modal-bg;
    border-bottom: 1px solid @border-color;
    position: relative;
    padding: @modal-header-padding;
    z-index: 2;
    
    .keditor-modal-title {
        font-size: @modal-header-title-font-size;
        line-height: 1.4;
        margin: 0;
        color: @modal-header-title-color;
        font-weight: 500;
    }
    
    .keditor-modal-close {
        border: 0;
        background: 0;
        position: absolute;
        font-size: @modal-closer-font-size;
        color: @closer-color;
        cursor: pointer;
        right: 10px;
        top: 50%;
        width: @modal-closer-size;
        height: @modal-closer-size;
        line-height: @modal-closer-size;
        margin-top: unit(-@modal-closer-size/2, px);
        padding: 0;
        font-weight: bold;
        
        &:hover {
            color: @closer-hover-color;
        }
    }
    
    .keditor-snippets-filter {
        margin-right: 15px;
    }
    
    .keditor-snippets-filter-component,
    .keditor-snippets-filter-container {
        display: none;
    }
    
    .keditor-snippets-filter-label,
    .keditor-snippets-filter,
    .keditor-snippets-search {
        font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
        height: 20px;
        background: none;
        display: inline-block;
        font-weight: normal;
    }
}

.keditor-modal-body {
    height: ~"calc(100% - @{modal-header-height})";
    position: relative;
    z-index: 1;
}


// Btn group
// -------------------------------------------------
.keditor-btn-group {
    letter-spacing: -1em;
    
    .keditor-btn {
        letter-spacing: normal;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}


// Btn
// -------------------------------------------------
.keditor-btn {
    border: 0;
    background: none;
    height: @btn-height;
    line-height: unit(@btn-height - 1, px);
    font-size: @btn-font-size;
    padding: @btn-padding;
    border-radius: @border-radius;
    box-shadow: @btn-box-shadow;
    display: inline-block;
    text-decoration: none !important;
    
    i {
        line-height: unit(@btn-height - 1, px);
    }
    
    &.keditor-btn-default {
        border: 1px solid @btn-default-border;
        background: @btn-default-bg;
        color: @btn-default-color;
        
        &:hover {
            background: darken(@btn-default-bg, 5%);
        }
        
        &:focus,
        &:active {
            border-color: darken(@btn-default-border, 8%);
            background: darken(@btn-default-bg, 8%);
        }
    }
    
    &.keditor-btn-primary {
        border: 1px solid @btn-primary-border;
        background: @btn-primary-bg;
        color: @btn-primary-color;
        
        &:hover {
            background: darken(@btn-primary-bg, 5%);
        }
        
        &:focus,
        &:active {
            border-color: darken(@btn-primary-border, 8%);
            background: darken(@btn-primary-bg, 8%);
        }
    }
}


// Toolbar
// -------------------------------------------------
.keditor-content-area-toolbar,
.keditor-container-content-toolbar {
    text-align: center;
    
    > * {
        transition: all @animation-duration;
        opacity: 0.2;
        
        
        &:hover {
            opacity: 1;
        }
    }
}

.keditor-container-content-toolbar {
    display: none;
    
    .keditor-container-content:hover & {
        display: block;
    }
}

.keditor-toolbar {
    position: absolute;
    display: none;
    z-index: 5;
    font: 14px/1.42857143 "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    > a {
        padding: 1px 3px;
        font-size: 12px;
        width: 20px;
        height: 20px;
        display: block;
        text-align: center;
        line-height: 20px;
        
        .fa {
            line-height: inherit;
        }
    }
    
    .btn-container-move {
        cursor: n-resize;
    }
    
    .btn-component-move {
        cursor: move;
    }
}


// Container
// -------------------------------------------------
.keditor-container {
    position: relative;
    
    &:before {
        position: absolute;
        top: -3px;
        right: -3px;
        left: -3px;
        bottom: -3px;
        border: 3px dashed transparent;
        content: " ";
        display: block;
    }
    
    > .keditor-toolbar {
        top: -3px;
        left: -39px;
        border: 1px solid @container-toolbar-border-color;
        border-radius: @border-radius;
        overflow: hidden;
        
        > a {
            background: @container-toolbar-button-bg;
            color: @container-toolbar-button-color;
            
            &:hover {
                background: @container-toolbar-button-bg-hover;
            }
        }
    }
    
    &:hover {
        &:before {
            border-color: @container-outline-color-hover;
        }
    }
    
    &.showed-keditor-toolbar {
        &:before {
            border-color: @container-outline-color-selected;
        }
        
        > .keditor-toolbar {
            display: block;
        }
    }
}

.keditor-container-content {
    position: relative;
    
    &:before {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        content: " ";
        display: block;
        border: 1px dashed @container-content-outline-color;
    }
}

.keditor-container-content-inner {
    min-height: 50px !important;
}


// Component
// -------------------------------------------------
.keditor-component {
    position: relative;
    z-index: 1;
    
    &:before {
        position: absolute;
        top: -2px;
        right: -2px;
        left: -2px;
        bottom: -2px;
        content: " ";
        border: 2px solid @container-content-toolbar-outline-color;
        display: none;
        z-index: 1;
    }
    
    .keditor-toolbar {
        top: 0;
        left: 0;
        background-color: @container-content-toolbar-bg;
        padding: 0 2px 2px 0;
        text-align: left;
        
        > a {
            border: 0;
            background: none;
            color: @container-content-toolbar-button-color;
            text-align: center;
            border-radius: 0;
            box-shadow: none;
            transition: all @animation-duration;
            display: inline-block;
            
            &:hover {
                background-color: @container-content-toolbar-button-bg-hover;
            }
        }
    }
    
    .keditor-component-content {
        position: relative;
        z-index: 2;
    }
    
    &:hover,
    &.showed-keditor-toolbar {
        &:before {
            display: block;
        }
    }
    
    &.showed-keditor-toolbar {
        .keditor-component-content {
            outline: none !important;
        }
    }
    
    &:hover {
        z-index: 2;
        
        .keditor-toolbar {
            display: block;
        }
    }
}


// Iframe cover
// -------------------------------------------------
.keditor-iframe-cover-wrapper {
    position: relative;
    
    iframe,
    .keditor-iframe-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    iframe {
        z-index: -1;
    }
    
    .keditor-iframe-cover {
        z-index: 1;
        background: rgba(0, 0, 0, .15);
        
        &:before {
            display: block;
            content: "Double-click to reveal content";
            color: #fff;
            font-size: 24px;
            position: absolute;
            width: 100%;
            text-align: center;
            padding: 5px;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            text-shadow: 0 0 3px #000;
        }
    }
    
    &.hidden-cover {
        iframe {
            z-index: 0;
        }
        
        .keditor-iframe-cover {
            display: none;
        }
    }
}

// Hidden UI
// -------------------------------------------------
.keditor-ui-hidden {
    display: none !important;
}

// Dragging UI
// -------------------------------------------------
.keditor-ui-dragging {
    display: block !important;
    opacity: 0.5 !important;
    
    .keditor-toolbar {
        display: none !important;
    }
}

.ui-sortable-placeholder {
    &.keditor-snippet,
    &.keditor-container,
    &.keditor-component {
        background: @blueLight !important;
        visibility: visible !important;
        height: 20px !important;
        margin: 5px 0 !important;
        float: none !important;
        outline: none !important;
        padding: 0 !important;
        opacity: 1 !important;
        border: 2px solid @blue;
        
        &:before,
        &:after {
            display: none !important;
        }
    }
}

.ui-sortable-helper {
    &.keditor-section {
        background: @snippet-bg !important;
    }
    
    &.keditor-container {
        .keditor-toolbar.keditor-toolbar-container {
            display: block !important;
        }
    }
    
    &.keditor-component {
        &:before,
        .keditor-toolbar {
            display: block !important;
        }
    }
}
