html,
body {
    height: 100%;
}

#content-area {
    min-height: 100%;
}

#content-area .keditor-content-area {
    min-height: 100%;
}

#header,
#body,
#footer {
    padding: 30px;
    margin: 20px;
    border: 3px dashed #ccc;
}

.toolbar {
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
}

.toolbar > * {
    background: #fff;
    border: solid #ddd;
    border-width: 1px 1px 0 0;
    padding: 6px 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.toolbar > *:hover {
    background: #f0f0f0;
}

pre.prettyprint {
    padding: 12px;
    border-color: #ddd;
    border-radius: 0;
    border-width: 0 1px 1px;
    margin: 0;
}

#modal-content pre.prettyprint {
    border-width: 1px;
}